:root {
    --colors-background-1: #f4f6ff;
    --colors-background-2: #f6f7fb;
    --colors-background-3: #f7f7f8;
    --colors-background-4: #f0f1f4;
    --colors-background-5: #b2b8c92e;
    --colors-background-6: #16181e80;
    --colors-chart-1: #7488ed;
    --colors-chart-10: #a799f5;
    --colors-chart-11: #72b7f6;
    --colors-chart-12: #b4f067;
    --colors-chart-13: #72def6;
    --colors-chart-14: #ecd29a;
    --colors-chart-15: #71edc0;
    --colors-chart-16: #bfcaed;
    --colors-chart-17: #c8ccd8;
    --colors-chart-18: #8281b4;
    --colors-chart-19: #daaaad;
    --colors-chart-2: #dc797f;
    --colors-chart-20: #c7ab61;
    --colors-chart-21: #cd71c4;
    --colors-chart-22: #e8e264;
    --colors-chart-3: #efc552;
    --colors-chart-4: #55b9d0;
    --colors-chart-5: #80e5cd;
    --colors-chart-6: #a9db70;
    --colors-chart-7: #ea9e81;
    --colors-chart-8: #c18ede;
    --colors-chart-9: #91b2f3;
    --colors-hover-primary: #008e65;
    --colors-line-1: #858ea5;
    --colors-line-2: #e8eaf5;
    --colors-primary-blue: #5785f9;
    --colors-primary-blue-bg: #eef3fe;
    --colors-primary-green: #00a071;
    --colors-primary-green-bg: #ebf7f4;
    --colors-primary-orange: #fd9a16;
    --colors-primary-orange-bg: #fff7eb;
    --colors-primary-red: #ff4d4f;
    --colors-primary-red-bg: #fff4f6;
    --colors-primary-white: #fff;
    --colors-text-1: #536697;
    --colors-text-2: #343b53;
    --colors-text-3: #505f79;
    --colors-text-4: #858ea5;
    --colors-text-5: #c8ccd8;
    --colors-type-1-buyout: #32c77f;
    --colors-type-1-buyout-bg: #edfaf3;
    --colors-type-1-capitalmarket: #42a8f2;
    --colors-type-1-capitalmarket-bg: #f0f8fe;
    --colors-type-1-consumer: #52c5e9;
    --colors-type-1-consumer-bg: #eef9fd;
    --colors-type-1-everyone-ipo: #a46de8;
    --colors-type-1-everyone-ipo-bg: #fcf8ff;
    --colors-type-1-fof: #e8b500;
    --colors-type-1-fof-bg: #fff8ec;
    --colors-type-1-function-team: #21d0bb;
    --colors-type-1-function-team-bg: #effaf8;
    --colors-type-1-growth: #e08d50;
    --colors-type-1-growth-bg: #fcf5ef;
    --colors-type-1-healthcare: #7287f6;
    --colors-type-1-healthcare-bg: #f4f6ff;
    --colors-type-1-infrastructure: #9577ec;
    --colors-type-1-infrastructure-bg: #f5f3fd;
    --colors-type-1-pacific: #5190e7;
    --colors-type-1-pacific-bg: #f1f6fd;
    --colors-type-1-partner: #6aa1f4;
    --colors-type-1-pipe: #e868cc;
    --colors-type-1-pipe-bg: #fdf3fb;
    --colors-type-1-seed: #83c046;
    --colors-type-1-seed-bg: #f3f9ec;
    --colors-type-1-tech: #eb7083;
    --colors-type-1-tech-bg: #fdf4f5;
    --colors-type-1-venture: #efc552;
    --colors-type-2-1: #6aa1f4;
    --colors-type-2-2: #ea9e81;
    --colors-type-2-3: #c18ede;
    --colors-type-2-4: #efc552;
    --colors-type-2-5: #b2b8c9;
    --colors-type-3-1: #77d2a7;
    --colors-type-3-2: #afb7ff;
    --colors-type-3-3: #8ac0ff;
    --colors-type-3-4: #d9a6f9;
    --colors-type-3-5: #67d9d2;
    --colors-type-3-6: #ffbba1;
    --colors-type-3-7: #f5c975;
    --colors-type-3-8: #77d6f4;
    --shadow-drop-base: 0 1px 5px #343b530f;
    --shadow-drop-card: 0 3px 16px #343b531a;
    --shadow-drop-hover: 0 2px 10px #343b531a;
    --shadow-drop-popover: 0 4px 20px #343b5326;
  }
  